*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }

    body > header{
     background-color: #000000;
     padding: 16px 0;
     color: rgb(255, 255, 255) ;
    }

    header h1,
    section h2{
        font-family: 'Covered By Your Grace', cursive;
    }

    
    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left:16px ;
}
header li a{
    color: rgb(255, 255, 255);
    text-decoration: none;    
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}
.container{
    max-width:1366px;
    width: 100%;
    margin-left: 16px;
}
.container h1{
    font-size: 90px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body, input, textarea {
    font-family: 'Kanit', sans-serif;
}

.articles article img {
    height: 160px;        
    }
.articles article {
    width: 30%;
}
    section h2,
    .articles article{
        margin-bottom: 16PX;
    } 

    .articles article h3 {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .articles article a{
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
        font-weight: none;
        margin-top: 8px;
        
    }

    .articles article a:hover {
        text-decoration: underline;
    }

    
    .articles article h3{
        font-size: 24px;
    }
    
    section h2{
        font-size: 60px;
    }

    #photos{
        background-color: black;
    }

    #photos .articles article h3{
        color: #fff;
    }

    #contact .container{
        display: block;
    }

    .contact-method{
        display: flex;
        justify-content: space-between;
    }

    .logo img{
        display: inline;
        height: 360px;
        text-decoration: none;
    }

    
form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #000000;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    }
form button:hover {
    background-color: #394568;
}

input:focus, textarea:focus{
        outline-color: #000000;
    }

    footer{
        background-color: #000000;
        color: #ecf0f1;
        padding: 16px 0;
    }



